@charset "UTF-8";

/* 라이브러리 */
.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.row-span-7 {
  grid-row: span 7 / span 7;
}

.row-span-8 {
  grid-row: span 8 / span 8;
}

@media (max-width: 640px) {
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
}

/* 커스텀 */
:root {
  --card-title_height: 40px;
  --card-title_left-btn-cell-width: 50px;
}

a.s-link {
  color:#3432a8;
  text-decoration: underline;
}

body {
  color:#666;
}

.page-menu {
  justify-content: center;
  padding: 30px 0;
}

.card-title {
  background-color: rgb(87, 13, 248);
  color: white;
  text-align: center;
  height: var(--card-title_height);
  position: absolute;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns:
    var(--card-title_left-btn-cell-width) auto
    var(--card-title_left-btn-cell-width);
}

.card-title > span:first-child {
  text-align: left;
  padding-left: 22px;
}

.card-title + * {
  margin-top: var(--card-title_height);
}

@media (max-width: 480px) {
  .card-wrap {
    max-width:none;
    padding-left:0;
    padding-right:0;
  }
  
  main > section:first-of-type > .card-wrap {
  	margin-top:-15px;
  }

  .card-wrap > .card {
    overflow: visible;
    border-radius:0;
  }
}

.btns {
  margin-top:10px;	
}

/* 모바일 사이드바 시작 */
.mobile-side-bar {
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  background-color:rgba(0,0,0,0.7);
}

.mobile-side-bar__content {
  background-color:white;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  transform:translateX(100%);
  transition:transform 0.2s;
  min-width:320px;
}

.mobile-side-bar.active {
  opacity:1;
  visibility: visible;
}

.mobile-side-bar.active .mobile-side-bar__content {
  transform:translateX(0);
}

.mobile-side-bar__menu-box-1 > ul > li > a {
  padding:12px 15px;
  display:flex;
  font-weight:bold;
}

.mobile-side-bar__menu-box-1 > ul > li:hover > a {
	color:red;
	text-decoration: underline;
}

@media (max-width: 767px) {
  html.mobile-side-bar-actived,
  html.mobile-side-bar-actived > body {
    overflow:hidden;
  }  
}
/* 모바일 사이드바 끝 */

/* 검색바 시작 */
.search-bar-actived,
.search-bar-actived > body {
  overflow:hidden;
}

.search-bar {
  visibility:hidden;
  opacity:0;
  background-color:rgba(0,0,0,0.7);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:100;
  transition: visibility 0.2s, opacity 0.2s;
}

.search-bar.active {
  visibility:visible;
  opacity:1;
}

.search-bar > form {
  width:100%;
  max-width:600px;
  background-color:white;
  padding:20px;
  border-radius:10px;
  border:2px solid black;
}

/* 검색바 끝 */

